/*navigation bar*/
.menu{
	box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.menu .navbar-nav .nav-item .nav-link{
	font-size: 1.2rem;
	padding:0  1.2rem;
}
.menu .navbar-nav .nav-item .nav-link:hover{
	color: green;
}
/*carousel*/
.img-overlays{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.5);
}
/*categories*/
.wrapper:hover .fa-stack{
	transform: rotate(360deg);
	transition: 0.9s;
	color: green;
}
/*Divider*/
hr.divider
{
	max-width: 5.25rem;
	border-width: 0.2rem;
	border-color: #43a746;
}
/*Item divider*/
hr.item-divider{
	max-width: 5.25rem;
	border-width: 0.1rem;
	border-color: #43a746;
}
/*Items Hover*/
.card_img{
	position: relative;
}
.view-detail{
	position: absolute;
	left: 50%;
	top: 50%;
	text-align:center;
	transform: translate(-50%,-50%);
	opacity: 0;
	/*transition: 0.5s ease;*/
}
.card_img:hover .image{
	opacity: 0.5;
}
.card_img:hover .view-detail{
	opacity: 1;
}
.view-detail:hover .fa-stack{
	cursor: pointer;
	color: #43a746;
	font-size: 1.5rem;
	transition: 0.2s;
}